#Projetos.ativo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projetos{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.projetos .carrossel{
    display: flex;
    overflow: hidden;
    gap: 15px;
    scroll-behavior: smooth;

    border-radius: 20px;
}

.projetos .carrossel.rolando{
    scroll-behavior: auto;
}

.projeto p{
    text-align: center;
    font-size: 1em;
    font-weight: 400;

    text-indent: 0;
    margin: 0 40px;
}

.projeto h2{
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: 500;
}

.projetos i{
    background-color: var(--cor-blocos);
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 0.8em;

    border-radius: 50%;
    text-align: center;
    color: var(--cor-fonte-claro);

    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.projetos i#left{
    left: -50px;
}

.projetos i#right{
    right: -50px;
}

.projetos .carrossel .projeto{
    background-color: var(--cor-blocos);
    
    height: 200px;
    min-width: calc(calc(100% - 30px) / 3);

    border-radius: 20px;
}

.projetos .carrossel .projeto:hover, .projetos i:hover{
    background-color: var(--cor-fundo);
}
