@media (max-width: 1000px){
    :root{
        --largura-aside: 250px;
    }
    .pagina{
        font-size: 0.92em;
    }

    aside .card.sobre .foto{
        width: 150px;
    }

}

@media (max-width: 900px){
    :root{
        --altura-aside: 200px;
        --altura-artigo: calc(100vh - var(--altura-cabecalho) - var(--altura-aside) - 110px);
    }
    
    .pagina{
        flex-direction: column;
    }

    aside{
        flex-direction: row;

        width: 100%;
        height: var(--altura-aside);
    }

    aside .card{
        display: none;
    }

    aside .card.sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    aside .card.sobre .foto{
        width: auto;
        height: 100%;
        margin: 20px;
    }
    
    aside .card .botaoIndice{
        display: block;
        position: absolute;
        top: calc(var(--altura-aside) - 35px);
        right: 25px;
    
        background-color: var(--cor-fundo);
        height: 30px;
        width: 30px;
    
        border-radius: 10px;
    }

    aside .card.indice{
        display: none;

        position: absolute;
        height: auto;
        width: auto;

        border: 2px solid var(--cor-blocos);

        top: calc(var(--altura-aside) + 15px);
        right: 25px;

        padding: 5px;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    }
    
    aside .card.indice.ativo{
        display: block;
    }

    aside .card.indice h1{
        display: none;
    }

    aside .card.indice ul{
        padding: 0;
    }

    aside .card.indice li{
        margin: 0;
        padding: 5px 30px;
    }

    main{
        width: 100%;
        min-height: var(--altura-artigo);
    }

    .lampada{
        height: 20px;
        width: 20px;
        top: 30px;
    }
    .lampada.noite::after{
        height: 20px;
        width: 20px;
        right: -6px;
    }
    .lampada.dia{
        top: 30px;
        right: 30px;
    }
}
