@media (max-width: 1200px){
    .projetos .projeto{
        width: 40%;
    }
    .projetos .projeto{ 
         min-width: calc(calc(100% - 14px) / 2);
    }
}


@media (max-width: 1000px){
    :root{
        --largura-aside: 250px;
    }
    .pagina{
        font-size: 0.92em;
    }
    aside .card.sobre .foto{
        width: 150px;
    }

}

@media (max-width: 900px){
    :root{
        --altura-aside: 200px;
        --altura-artigo: calc(100vh - var(--altura-cabecalho) - var(--altura-aside) - 60px);
    }
    
    .pagina{
        flex-direction: column;
        font-size: 0.85em
    }

    aside{
        flex-direction: row;

        width: 100%;
        height: var(--altura-aside);
    }

    aside .card{
        display: none;
    }

    aside .card.sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    aside .card.sobre .foto{
        width: auto;
        height: 75%;
        margin: 0;
    }
    
    aside .card .botaoIndice{
        display: block;
        position: absolute;
        top: calc(var(--altura-aside) - 35px);
        right: 25px;
    
        background-color: var(--cor-blocos);
        height: 30px;
        width: 30px;
    
        border-radius: 10px;
    }
    aside .card .botaoIndice::after{
        content: '';
        position: absolute;

        height: 14px;
        width: 2px;

        transform: rotate(-45deg);

        top: 8px;
        left: 9.5px;

        background-color: var(--cor-destaque);

        z-index: 999;

        transition: 0.3s;
    }
    aside .card .botaoIndice::before{
        content: '';
        position: absolute;

        height: 14px;
        width: 2px;

        transform: rotate(45deg);

        top: 8px;
        right: 9.5px;

        background-color: var(--cor-destaque);

        z-index: 999;

        transition: 0.3s;
    }
    aside .card .botaoIndice.ativo::after{
        content: '';
        position: absolute;

        height: 26px;
        width: 2px;

        transform: rotate(-45deg);

        top: 2px;
        left: 14px;

        background-color: var(--cor-destaque);

        z-index: 999;

        transition: 0.3s;
    }
    aside .card .botaoIndice.ativo::before{
        content: '';
        position: absolute;

        height: 26px;
        width: 2px;

        transform: rotate(45deg);

        top: 2px;
        right: 14px;

        background-color: var(--cor-destaque);

        z-index: 999;

        transition: 0.3s;
    }

    aside .card.indice{
        display: none;
        position: absolute;
        height: auto;
        width: auto;

        border: 2px solid var(--cor-blocos);

        top: calc(var(--altura-aside) + 15px);
        right: 25px;

        padding: 5px;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    }
    aside .card.indice.ativo{
        display: block;
        animation: aparecer 0.6s;
    }

    aside .card.indice h1{
        display: none;
    }
    aside .card.indice ul{
        padding: 0;
    }
    aside .card.indice li{
        margin: 0;
        padding: 5px 30px;
    }

    main{
        width: 100%;
        min-height: calc(var(--altura-artigo) + var(--altura-cabecalho));
    }

    .lampada{
        height: 20px;
        width: 20px;
        top: 30px;
    }
    .lampada.noite::after{
        height: 20px;
        width: 20px;
        right: -6px;
    }
    .lampada.dia{
        top: 30px;
        right: 30px;
    }
    
    .projetos .projeto{
        width: 80%;
    }

    .projetos .projeto{ 
         min-width: 100%;
    }
}
