:root{
    --largura-aside: 300px;
    --largura-main: calc(100% - 300px);

    --altura-pagina: calc(100vh - 20px);
    --altura-conteudo-main: calc(100vh - 20px);

    --fonte-principal: 'Arial', 'Helvetica', sans-serif;
    --fonte-destaque: 'Arial', 'Helvetica', sans-serif;;
    --cor-fonte: #f0f8ff;

    --cor-fundo: #233442;
    --cor-blocos: #0e1922;
    --cor-destaque: #192b3a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    gap: 10px;
    padding: 10px;

    font-family: var(--fonte-principal);
    color: aliceblue;
    
    background-color: var(--cor-fundo);
}

aside{
    height: var(--altura-pagina);
    width: var(--largura-aside);
    background: var(--cor-blocos);
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .card{
    background: var(--cor-destaque);
    padding: 10px;
    height: 100%;

    text-align: center;
}

aside .card.sobre{
    height: calc(1.5 * var(--altura-conteudo-main));
}

aside .card.sobre .foto{
    border-radius: 50%;
    
    width: 70%;
    height: 50%;

    margin: 15px auto;

    text-align: center;

    background-color: var(--cor-blocos);
}

main{
    background: var(--cor-blocos);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    height: var(--altura-pagina);
    width: var(--largura-main);
    padding: 10px;
}

header{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.2 * var(--altura-conteudo-main));
}
section{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.7 * var(--altura-conteudo-main));
}
footer{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.1 * var(--altura-conteudo-main));
}