:root{
    --largura-aside: 300px;
    --largura-main: calc(100% - 300px);

    --altura-pagina: calc(100vh - 20px);
    --altura-conteudo-main: calc(100vh - 20px);

    --fonte-principal: 'Arial', 'Helvetica', sans-serif;
    --fonte-destaque: 'Arial', 'Helvetica', sans-serif;;
    

    --cor-fundo-claro: #a6cbe9;
    --cor-blocos-claro: #748ea3;
    --cor-destaque-claro: #ffffff;
    --cor-fonte-claro: #ffffff;

    --cor-fundo-escuro: #233442;
    --cor-blocos-escuro: #0e1922;
    --cor-destaque-escuro: #192b3a;
    --cor-fonte-escuro: #000000;

    --cor-fundo: var(--cor-fundo-escuro);
    --cor-blocos: var(--cor-blocos-escuro);
    --cor-destaque: var(--cor-destaque-escuro);
    --cor-fonte: var(--cor-fonte-claro);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina{
    display: flex;
    gap: 10px;
    padding: 10px;

    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    
    background-color: var(--cor-fundo);
}

.pagina.clara{
    --cor-fundo: var(--cor-fundo-claro);
    --cor-blocos: var(--cor-blocos-claro);
    --cor-destaque: var(--cor-destaque-claro);
    --cor-fonte: var(--cor-fonte-escuro);
}

.lampada{
    height: 25px;
    width: 25px;

    position: fixed;
    top: 35px;
    right: 30px;

    border-radius: 50%;
    background-color: #ffffff;
    border: none;
}
.lampada.noite{
    background-color: black;
}
.lampada.noite::after{
    content: "";
    height: 25px;
    width: 25px;

    position: fixed;
    top: 35px;
    right: 22px;

    border-radius: 50%;
    background-color: var(--cor-destaque);
    border: none;
}

.lampada.dia{
    position: fixed;
    top: 35px;
    right: 32px;

    border-radius: 50%;
    background-color: white;
    border: 3px dashed var(--cor-destaque);
}

aside{
    height: var(--altura-pagina);
    width: var(--largura-aside);
    background: var(--cor-blocos);
    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .card{
    background: var(--cor-destaque);
    padding: 10px;
    height: 100%;

    text-align: center;
    border-radius: 10px;
}

aside .card.sobre{
    height: calc(1.5 * var(--altura-conteudo-main));
}

aside .card.sobre .foto{
    border-radius: 50%;
    
    width: 70%;
    height: 50%;

    margin: 15px auto;

    text-align: center;

    background-color: var(--cor-blocos);
}

main{
    background: var(--cor-blocos);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    border-radius: 15px;

    height: var(--altura-pagina);
    width: var(--largura-main);
    padding: 10px;
}

header{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.2 * var(--altura-conteudo-main));
    border-radius: 15px;
}
section{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.7 * var(--altura-conteudo-main));
    border-radius: 15px;
}
footer{
    background: var(--cor-destaque);
    padding: 10px;
    
    height: calc(0.1 * var(--altura-conteudo-main));
    border-radius: 15px;
}